/* ---------------
     fonts
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*-----------commoun style-----------*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*----------------style header part----------------*/
header{
    display: flex;
    justify-content: center;
}
.header-container{
    display: flex;
    align-items: center;
    background-image: linear-gradient(#2B0848, #76289B);
    width: 1321px;
    margin-top: 50px;
    border-radius: 30px;
}
.header-content{
    width: 50%;
    margin-left: 5%;
    color: white;
}
.header-content h1{
    font-size: 70px;
    color: white;

}
.header-content p{
    font-size: 18px;
    line-height: 1.5em;
}
.header-img{
    width: 50%;
}
.button{
    margin-top: 30px;
}
.link-btn{
    border-radius: 5px;
    padding: 16px 25px;
    border: 2px solid white;
    background-color: #22153F;
    font-weight: bold;
    font-size: 20px;
    width: 187px;
    color: white;
    cursor: pointer;
    transition: 0.7s ease;
}
.link-btn:hover{
    background-color: #633588;
}
.fa-greater-than{
    margin-left: 10px;
    font-weight: 700;
}

/*---------------style navigation or menu--------------------*/

main{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #633588;
    border-radius: 10px;
    margin-right: 24px;
}
.menu-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 30px;
    padding: 17px 39px;
    border-radius: 10px;
    background-color: white;
}
.active{
    background-color: #22153F;
    color: white;
}

/*------------------style blog part--------------------------*/

.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.blog{
    width: 312px;
}
.blog-img{
    margin-bottom: 20px;
}
.blog-btn{
    margin-bottom: 15px;
    padding: 10px;
}
.blog-pragraph{
    margin-bottom: 20px;
}
.incon-directon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*------------------style upcoming match---------------------*/

.conteiner-2{
    border: 1px solid #E8E8E8;
    padding: 70px 30px;
    border-radius: 10px;
}
.Upcoming-match{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.conteiner-2 h2{
    text-align: center;
}
.conteiner-2 p{
    text-align: center;
}

/*-----------------------style footer part--------------------*/

.footer-bg{
    margin-top: 130px;
    background-color: #020F2A;
}
.footer-header h2{
    color: white;
    text-align: center;
    padding-top: 50px;
}
.hr{
    width: 1300px;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid #ffffff1a;
    margin-top: 50px;
}
.footer-link{
    width: 960px;
    margin: 0 auto;
}
.footer-p{
    text-decoration: none;
    padding: 80px 20px;
    display: inline-block;
    color: white;
}
.social-icon{
    display: flex;
}
/*---------------------
      Media Queries
---------------------*/

/*--------mobile device-----------------------*/
@media only screen and (max-width: 688px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-content h1{
        font-size: 40px;
    }
    .header-content p{
        font-size: 16px;
    }
    .header-img{
        width: 100%;
    }
    /*------------nav---------------*/
    main{
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }
    .menu{
        background-color: white;
    }
    .menu-btn{
        border: 1px solid #b4b1b1;
        margin: 16px;
    }
    /*------------blog--------------*/
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    /*----------------footer---------------------*/
    .footer-bg{
        margin-top: 25px;
        width: 100%;
    }
    .footer-header h2{
        padding-top: 24px;
    }
    .hr{
        width: 100%;
        margin-top: 24px;
        margin-bottom: 15px;
    }
    .footer-link{
        width: 100%;
        height: 260px;
    }
    .footer-p{
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 15px;
    }
}

/*----------------------tablet device-----------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .header-container{
        width: 100%;
    }
    /*---------nav-------------*/
    main{
        display: block;
        margin-top: 50px;
    }
    .menu{
        flex-direction: row;
        justify-content: center;
        background-color: white;
        width: 100%;
    }
    .menu-btn{
        border: 1px solid #b4b1b1;
    }
    /*----------blog---------------*/
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .none{
        display: none;
    }
    /*---------------footer-----------------*/
    .footer-bg{
        width: 100%;
    }
    .footer-header h2{

    }
    .hr{
        width: 100%;
    }
    .footer-link{
        width: 100%;
    }
    
    .footer-p{
        text-decoration: none;
        display: inline-block;
        color: white;
        padding: 30px 16px;
    }
}
